/* Google font */
.raleway-normal{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/* body{
    max-width: 1140px;
    margin: 0 auto;
} */
/* Shared styles */
.btn-primary{
    background-color: #4E47FF;
    color: #FFFFFF;
    padding: 18px 35px;
    border-radius: 5px;
    border: none;
    font-size: 18px;
    font-weight: bold;
}

/* Nav Part start here */
header{
    background-image: url(../Assets/Hero-bg.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 150px;
}
.nav-title{
    color: #4E47FF;
    font-size: 35px;
    font-weight: 900;
}

/* Banner Part start here */
.banner-heading{
    max-width: 905px;
    margin: 0 auto;
    margin-top: 150px;
    padding-bottom: 150px;
    text-align: center;
}
.banner-title{
    font-weight: bold;
    font-size: 65px;
    color: #252432;
    margin-bottom: 35px;
}

/* Mani section start here */
.fixed-body{
    margin: 0 150px;
    
}

/* Action section start here */
.action{
    display: flex;
    margin-top: 115px;
    margin-bottom: 115px;
    justify-content: space-between;
    align-items: center;
    gap: 90px;
}
.action-container{
    text-align: left;
}
.action-title{
    font-size: 42px;
    font-weight: bold;
    color:#252432;
}
.action-description{
    font-size: 24px;
    font-weight: 200;
    color: #474756;
}
.webflow-img{
    border-radius: 20px;
}

/* Review section start here */
.review-sect{
    background-color: #efefff;
    padding: 50px 52px;
    border-radius: 20px;
}
.review-title{
    font-size: 38px;
    font-weight: bold;
    color: #252432;
    text-align: center;
    margin-bottom: 0;
}
.review-container{
    display: flex;
    justify-content: space-around; 
}
.review{
    justify-content: center;
    text-align: center;
}
.review-heading{
    font-size: 80px;
    font-weight: bold ;
    color: #4E47FF;
    margin-bottom: 0;
}
.review-description{
    font-size: 20px;   
}

/* User section start here */
.user{
    margin-top: 100px;
    margin-bottom: 100px;
}
.user-main-container{
    display: flex;
    gap: 30px;
}
.user-say{
    font-size: 43px;
    font-weight: bolder;
    color: #252432;
    text-align: center;
}
.user-container{
    background-color: #fff3f3;
    border-radius: 20px;
    padding: 24px;
    text-align: left;
}   
.user-star{
    padding-top: 30px;
}
.user-heading{
    font-size: 30px;
    font-weight: bolder;
    color: #252432;
    margin-bottom: 0;
    margin-top: 20px;
}
.user-title{
    font-size: 24px;
    font-weight: 400;
    color: #34343f;
    margin-bottom: 0;
}
.user-profile{
    display: flex;
    align-items: center;
    justify-content: baseline;
    gap: 10px;
    
}
.user-img{
    padding-top: 20px;
    border-radius: 50%;
}
.user-name{
    font-size: 22px;
    color: #474756;
    margin-bottom: 0;
}
.user-date{
    font-size: 22px;
    color: #474756;
    margin-top: 5px;
}

/* <!-- focus section start here --> */
